<div class="flex h-screen w-screen flex-col items-center justify-center bg-gradient-to-br from-white to-slate-300">
  <img class="w-96 lg:w-[500px]" src="/img/404.webp" alt="404 page not found" />
  <a class="rounded-2xl bg-[#FFC727] py-2 px-4 font-poppins text-xs font-semibold text-slate-600 transition-all duration-200 hover:bg-slate-600 hover:text-white hover:shadow-lg lg:text-lg lg:font-bold" href="https://vnida.online/">Kembali ke Beranda</a>
</div>
