<div class="font-Inter">
  <nav
    class="flex h-fit w-full items-center justify-between bg-gray-100 px-28 py-4"
  >
    <svg
      width="100"
      height="30"
      viewBox="0 0 111 39"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M36.0569 9.57166C36.0904 9.76879 36.1016 9.97149 36.0811 10.1816C35.6311 14.7285 34.4297 18.8235 32.4752 22.4665C30.1692 26.7624 26.7902 30.4445 22.3419 33.5129H19.2772C17.4213 33.5129 15.8517 32.1368 15.6081 30.2976L12.9618 10.256C12.7777 8.85756 13.7931 7.58741 15.199 7.46095L16.882 7.30846C17.5198 7.25081 18.0889 7.71387 18.1614 8.34987L20.5158 28.9809H20.9546C24.17 26.3179 26.6136 23.2197 28.2873 19.6882C29.9591 16.1567 30.8778 12.1566 31.0396 7.69155H33.8309C34.2958 7.69155 34.7235 7.83288 35.0806 8.07092C33.3865 5.71659 31.1828 3.75465 28.6239 2.35619C25.8716 0.853584 22.7176 0 19.3609 0C12.376 0 6.25775 3.69886 2.85272 9.24436C1.04513 12.1882 0 15.6509 0 19.359C0 23.0672 0.955865 26.2323 2.62398 29.0925C3.8402 31.1753 3.85321 33.7621 2.70022 35.8821C2.27994 36.6557 1.82433 37.407 1.33709 38.1342C1.17159 38.3796 1.34081 38.7144 1.6365 38.7144H1.64394C3.8402 38.7144 5.9788 38.4633 8.03187 37.9873C10.1054 37.5075 12.2626 37.4963 14.3175 38.0523C15.9243 38.4875 17.6147 38.72 19.359 38.72C30.0651 38.72 38.6679 30.1618 38.7181 19.4558C38.7348 15.848 37.7604 12.4709 36.0569 9.57352V9.57166Z"
        fill="#111827"
      />
      <path
        d="M50.5666 17.2762C48.7032 17.2762 47.0872 17.7765 45.871 18.7119V18.0685C45.871 17.7077 45.579 17.4176 45.2201 17.4176H42.6445C42.2837 17.4176 41.9936 17.7095 41.9936 18.0685V32.9085C41.9936 33.2693 42.2856 33.5594 42.6445 33.5594H45.3317C45.6925 33.5594 45.9826 33.2675 45.9826 32.9085V25.2653C45.9826 22.5075 47.4219 20.99 50.0348 20.99C52.2905 20.99 53.3877 22.1969 53.3877 24.6777V32.9085C53.3877 33.2693 53.6797 33.5594 54.0386 33.5594H56.7258C57.0866 33.5594 57.3767 33.2675 57.3767 32.9085V24.369C57.3767 19.9281 54.8308 17.2781 50.5648 17.2781L50.5666 17.2762Z"
        fill="#111827"
      />
      <path
        d="M66.9763 17.4157H64.2872C63.9278 17.4157 63.6364 17.7071 63.6364 18.0666V32.9085C63.6364 33.268 63.9278 33.5594 64.2872 33.5594H66.9763C67.3358 33.5594 67.6272 33.268 67.6272 32.9085V18.0666C67.6272 17.7071 67.3358 17.4157 66.9763 17.4157Z"
        fill="#111827"
      />
      <path
        d="M65.6336 11.0594C64.2482 11.0594 63.1621 12.1213 63.1621 13.4751C63.1621 14.8289 64.2482 15.8629 65.6336 15.8629C67.0191 15.8629 68.1051 14.8122 68.1051 13.4193C68.1051 12.0264 67.0191 11.0594 65.6336 11.0594Z"
        fill="#111827"
      />
      <path
        d="M88.6767 11.4797H85.9895C85.6287 11.4797 85.3386 11.7716 85.3386 12.1306V18.7361C84.1149 17.7858 82.5547 17.2762 80.8103 17.2762C76.0087 17.2762 72.6557 20.6534 72.6557 25.4866C72.6557 30.3199 76.0087 33.7268 80.8103 33.7268C82.6216 33.7268 84.2191 33.1912 85.4502 32.1907V32.9067C85.4502 33.2674 85.7421 33.5575 86.101 33.5575H88.6767C89.0374 33.5575 89.3275 33.2656 89.3275 32.9067V12.1324C89.3275 11.7716 89.0356 11.4815 88.6767 11.4815V11.4797ZM81.0335 30.0707C78.4671 30.0707 76.6744 28.185 76.6744 25.4866C76.6744 22.7883 78.4262 20.9305 81.0335 20.9305C83.6407 20.9305 85.3646 22.8031 85.3646 25.4866C85.3646 28.1701 83.5831 30.0707 81.0335 30.0707Z"
        fill="#111827"
      />
      <path
        d="M110.349 17.4157H107.662C107.301 17.4157 107.011 17.7077 107.011 18.0666V18.7361C105.787 17.7858 104.227 17.2762 102.483 17.2762C97.6811 17.2762 94.3263 20.6534 94.3263 25.4866C94.3263 30.3199 97.6793 33.7268 102.483 33.7268C104.294 33.7268 105.892 33.1912 107.123 32.1907V32.9067C107.123 33.2674 107.415 33.5576 107.773 33.5576H110.349C110.708 33.5576 111 33.2656 111 32.9067V18.0685C111 17.7077 110.708 17.4176 110.349 17.4176V17.4157ZM102.706 30.0707C100.14 30.0707 98.3469 28.185 98.3469 25.4866C98.3469 22.7883 100.099 20.9305 102.706 20.9305C105.313 20.9305 107.039 22.8032 107.039 25.4866C107.039 28.1701 105.257 30.0707 102.706 30.0707Z"
        fill="#111827"
      />
    </svg>
    <a
      class="flex w-fit flex-row items-center justify-between rounded-lg bg-10 p-2 font-semibold text-gray-900 transition-all hover:brightness-90"
      href="#"
    >
      <svg
        width="20"
        height="20"
        viewBox="0 0 30 30"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g clip-path="url(#clip0_1235_1046)">
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M4.37117 4.3563C7.19092 1.5484 10.9412 0.00140884 14.937 0C23.1708 0 29.8718 6.66331 29.8747 14.8537C29.8761 17.472 29.1878 20.0276 27.8807 22.2799L30 29.9781L22.0813 27.9125C19.8997 29.0964 17.4431 29.7196 14.9434 29.7203H14.937C6.70467 29.7203 0.00283241 23.0562 0 14.8658C-0.00141716 10.8964 1.55067 7.16478 4.37117 4.35696V4.3563ZM14.937 27.2117H14.942C17.1695 27.211 19.3547 26.6155 21.2612 25.4908L21.7146 25.223L26.4138 26.4488L25.1597 21.8924L25.4548 21.4251C26.6975 19.4593 27.3542 17.1871 27.3528 14.8545C27.3499 8.04729 21.7806 2.50865 14.9319 2.50865C11.6158 2.51006 8.49875 3.79566 6.15458 6.12978C3.81033 8.46323 2.52041 11.5659 2.52183 14.8644C2.52475 21.6723 8.09408 27.211 14.937 27.211V27.2117ZM8.12708 17.9649C8.50025 17.7791 10.3352 16.8815 10.6776 16.7577C11.0199 16.6337 11.2684 16.5718 11.517 16.9435C11.7655 17.3154 12.481 18.1516 12.6987 18.3987C12.9165 18.6466 13.1343 18.6772 13.5074 18.4913C13.8805 18.3054 15.0831 17.9136 16.5091 16.6493C17.6185 15.665 18.3677 14.4499 18.5854 14.078C18.8032 13.7063 18.6083 13.5054 18.4222 13.3209C18.2546 13.1543 18.049 12.8872 17.8621 12.6706C17.6751 12.4541 17.6135 12.2988 17.4889 12.0516C17.3643 11.8038 17.4266 11.5873 17.5197 11.4013C17.6128 11.2154 18.3591 9.38842 18.6707 8.64555C18.9737 7.92191 19.2816 8.02019 19.5101 8.00809C19.7278 7.99732 19.9763 7.99525 20.2256 7.99525C20.4748 7.99525 20.8788 8.0879 21.2212 8.45967C21.5635 8.83144 22.5276 9.72961 22.5276 11.5559C22.5276 13.3822 21.1903 15.1479 21.0034 15.3958C20.8165 15.6437 18.3713 19.3923 14.6276 21.0007C13.7372 21.3831 13.0418 21.6118 12.4997 21.7827C11.6057 22.0655 10.7922 22.0256 10.149 21.9302C9.432 21.8233 7.94083 21.032 7.63 20.1651C7.31917 19.2983 7.31917 18.5547 7.41225 18.4001C7.50533 18.2456 7.75458 18.1522 8.12775 17.9664L8.12708 17.9649Z"
            fill="#111827"
          />
        </g>
        <defs>
          <clipPath id="clip0_1235_1046">
            <rect
              width="30"
              height="30"
              fill="white"
              transform="matrix(-1 0 0 1 30 0)"
            />
          </clipPath>
        </defs>
      </svg>
      <p class="px-2">Pesan Sekarang</p>
    </a>
  </nav>

  <!-- hero section -->
  <section
    class="w-ful flex h-[300px] flex-col justify-center bg-[url('/img/bg-hero.png')] bg-fixed bg-bottom p-28"
  >
    <h1 class="text-3xl font-extrabold text-gray-900">
      Undangan digital <br />
      praktis untuk semua <br />
      keperluan anda.
    </h1>
    <h2 class="text-sm font-semibold text-gray-900">
      Undangan digital yang lebih dari sekedar undangan
    </h2>
    <p class="py-2 text-sm font-normal text-gray-900">
      Saatnya beralih dari undangan kertas <br />
      konvensional menuju undangan digital
    </p>
    <a
      class="flex w-fit flex-row items-center justify-between rounded-lg bg-10 p-2 font-semibold text-gray-900 transition-all hover:brightness-90"
      href="#"
    >
      <svg
        width="20"
        height="20"
        viewBox="0 0 30 30"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g clip-path="url(#clip0_1235_1046)">
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M4.37117 4.3563C7.19092 1.5484 10.9412 0.00140884 14.937 0C23.1708 0 29.8718 6.66331 29.8747 14.8537C29.8761 17.472 29.1878 20.0276 27.8807 22.2799L30 29.9781L22.0813 27.9125C19.8997 29.0964 17.4431 29.7196 14.9434 29.7203H14.937C6.70467 29.7203 0.00283241 23.0562 0 14.8658C-0.00141716 10.8964 1.55067 7.16478 4.37117 4.35696V4.3563ZM14.937 27.2117H14.942C17.1695 27.211 19.3547 26.6155 21.2612 25.4908L21.7146 25.223L26.4138 26.4488L25.1597 21.8924L25.4548 21.4251C26.6975 19.4593 27.3542 17.1871 27.3528 14.8545C27.3499 8.04729 21.7806 2.50865 14.9319 2.50865C11.6158 2.51006 8.49875 3.79566 6.15458 6.12978C3.81033 8.46323 2.52041 11.5659 2.52183 14.8644C2.52475 21.6723 8.09408 27.211 14.937 27.211V27.2117ZM8.12708 17.9649C8.50025 17.7791 10.3352 16.8815 10.6776 16.7577C11.0199 16.6337 11.2684 16.5718 11.517 16.9435C11.7655 17.3154 12.481 18.1516 12.6987 18.3987C12.9165 18.6466 13.1343 18.6772 13.5074 18.4913C13.8805 18.3054 15.0831 17.9136 16.5091 16.6493C17.6185 15.665 18.3677 14.4499 18.5854 14.078C18.8032 13.7063 18.6083 13.5054 18.4222 13.3209C18.2546 13.1543 18.049 12.8872 17.8621 12.6706C17.6751 12.4541 17.6135 12.2988 17.4889 12.0516C17.3643 11.8038 17.4266 11.5873 17.5197 11.4013C17.6128 11.2154 18.3591 9.38842 18.6707 8.64555C18.9737 7.92191 19.2816 8.02019 19.5101 8.00809C19.7278 7.99732 19.9763 7.99525 20.2256 7.99525C20.4748 7.99525 20.8788 8.0879 21.2212 8.45967C21.5635 8.83144 22.5276 9.72961 22.5276 11.5559C22.5276 13.3822 21.1903 15.1479 21.0034 15.3958C20.8165 15.6437 18.3713 19.3923 14.6276 21.0007C13.7372 21.3831 13.0418 21.6118 12.4997 21.7827C11.6057 22.0655 10.7922 22.0256 10.149 21.9302C9.432 21.8233 7.94083 21.032 7.63 20.1651C7.31917 19.2983 7.31917 18.5547 7.41225 18.4001C7.50533 18.2456 7.75458 18.1522 8.12775 17.9664L8.12708 17.9649Z"
            fill="#111827"
          />
        </g>
        <defs>
          <clipPath id="clip0_1235_1046">
            <rect
              width="30"
              height="30"
              fill="white"
              transform="matrix(-1 0 0 1 30 0)"
            />
          </clipPath>
        </defs>
      </svg>
      <p class="px-2">Pesan Sekarang</p>
    </a>
  </section>

  <!-- trust -->
  <section
    class="flex h-fit w-full flex-col items-center justify-evenly bg-gray-100 px-28"
  >
    <div class="my-10 flex w-full items-center justify-evenly py-10">
      <div
        class="flex h-56 w-56 flex-col items-center justify-center bg-10 px-4 py-2 shadow-2xl"
      >
        <span class="-mb-2 text-3xl font-extrabold text-gray-900">“</span>
        <p class="text-center text-xs font-normal text-gray-900">
          Menggunakan Vnida membuat proses pembuatan dan penyebaran udangan
          menjadi lebih praktis, fitur pengiriman massal sangat membantu!
        </p>
        <span class="my-3 h-px w-8 rounded-full bg-gray-900"></span>
        <div class="h-8 w-8 rounded-full bg-gray-400"></div>
        <p class="my-2 text-center text-xs font-normal text-gray-900">
          Jaka & Mawar
        </p>
      </div>
      <div
        class="flex h-56 w-56 flex-col items-center justify-center bg-10 px-4 py-2 shadow-2xl"
      >
        <span class="-mb-2 text-3xl font-extrabold text-gray-900">“</span>
        <p class="text-center text-xs font-normal text-gray-900">
          Vnida membuat proses pembuatan undangan untuk bisnis saya menjadi
          lebih cepat, tinggal pilih template dan tak usah pikir berat soal
          pengiriman.
        </p>
        <span class="my-3 h-px w-8 rounded-full bg-gray-900"></span>
        <div class="h-8 w-8 rounded-full bg-gray-400"></div>
        <p class="my-2 text-center text-xs font-normal text-gray-900">
          Bambang Sujatmiko
        </p>
      </div>
      <div
        class="flex h-56 w-56 flex-col items-center justify-center bg-10 px-4 py-2 shadow-2xl"
      >
        <span class="-mb-2 text-3xl font-extrabold text-gray-900">“</span>
        <p class="text-center text-xs font-normal text-gray-900">
          Saya suka sekali menggunakan undangan digital seperti Vnida, selain
          proses yang relatif lebih cepat, undangan digital juga tidak
          meninggalkan limbah kertas
        </p>
        <span class="my-3 h-px w-8 rounded-full bg-gray-900"></span>
        <div class="h-8 w-8 rounded-full bg-gray-400"></div>
        <p class="my-2 text-center text-xs font-normal text-gray-900">
          Tarik Kamal
        </p>
      </div>
    </div>
    <h2 class="my-10 text-4xl font-extrabold">Fitur Pilihan</h2>
  </section>

  <!-- fitur 1 -->
  <section class="flex h-[500px] w-full items-center justify-between bg-30">
    <div class="w-1/2">
      <div
        class="relative h-96 w-[80%] rounded-e-full bg-[url('/img/bg-kirim-otomatis.png')] bg-cover"
      >
        <span class="absolute bottom-1 left-1 text-xs text-slate-400"
          >Foto hanya ilustrasi oleh
          <a
            href="https://unsplash.com/@chris_ainsworth22?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
            class="underline"
            >Glenn Carstens-Peters</a
          >
          on Unsplash</span
        >
      </div>
    </div>
    <div class="flex w-1/2 flex-col items-center justify-center">
      <div class="w-56">
        <h3 class="text-lg font-semibold">Kirim Massal</h3>
        <p class="py-3 text-sm font-normal">
          Fitur kirim massal memungkinkan kamu mengirimkan undangan digital
          secara massal menggunakan aplikasi yang kami sediakan. Cukup buat list
          penerima, tulis pesan, dan tekan tombol kirim.
        </p>
      </div>
    </div>
  </section>

  <!-- fitur 2 -->
  <section
    class="flex h-[500px] w-full items-center justify-between bg-gray-100"
  >
    <div class="flex w-1/2 flex-col items-center justify-center">
      <div class="w-56">
        <h3 class="text-lg font-semibold">QR Code</h3>
        <p class="py-3 text-sm font-normal">
          Fitur QR code memungkinkan pengunjung acara melakukan pencatatan
          daftar hadir tanpa penulisan manual, cukup scan QR Code dan kehadiran
          akan tercatat.
        </p>
      </div>
    </div>
    <div class="relative flex w-1/2 justify-end">
      <div
        class="h-96 w-[80%] rounded-s-full bg-[url('/img/bg-qr.png')] bg-cover"
      >
        <span class="absolute bottom-1 right-1 text-xs text-slate-400"
          >Foto hanya ilustrasi</span
        >
      </div>
    </div>
  </section>

  <!-- fitur 3 -->
  <section class="flex h-[500px] w-full items-center justify-between bg-30">
    <div class="w-1/2">
      <div
        class="relative h-96 w-[80%] rounded-e-full bg-[url('/img/bg-kirim-foto.png')] bg-cover"
      >
        <span class="absolute bottom-1 left-1 text-xs text-slate-400"
          >Foto hanya ilustrasi, by
          <a
            href="https://unsplash.com/@chris_ainsworth22?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
            class="underline"
            >Chris Ainsworth</a
          >
          on Unsplash</span
        >
      </div>
    </div>
    <div class="flex w-1/2 flex-col items-center justify-center">
      <div class="w-56">
        <h3 class="text-lg font-semibold">Kirim Foto Otomatis</h3>
        <p class="py-3 text-sm font-normal" data-aos="fade-left">
          Fitur opsional yang menjadi unggulan Vnida. Dengan fitur ini
          memungkinan pengunjung acara terutama pernikahan mendapatkan foto
          pelaminan secara langsung. Jangan biarkan momenmu basi dengan menunggu
          terlalu lama!
        </p>
      </div>
    </div>
  </section>

  <!-- komparasi -->
  <section
    class="flex h-fit w-full flex-col items-center justify-center bg-gray-100 px-28 py-10"
  >
    <div class="flex w-1/2 items-center justify-evenly py-10">
      <svg
        width="111"
        height="32"
        viewBox="0 0 111 38"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M36.0569 9.16297C36.0904 9.35168 36.1016 9.54573 36.0811 9.7469C35.6311 14.0996 34.4297 18.0197 32.4752 21.5073C30.1692 25.6197 26.7902 29.1446 22.3419 32.082H19.2772C17.4213 32.082 15.8517 30.7646 15.6081 29.0039L12.9618 9.81811C12.7777 8.47936 13.7931 7.26344 15.199 7.14239L16.882 6.9964C17.5198 6.94122 18.0889 7.3845 18.1614 7.99335L20.5158 27.7435H20.9546C24.17 25.1942 26.6136 22.2283 28.2873 18.8476C29.9591 15.4669 30.8778 11.6375 31.0396 7.36314H33.8309C34.2958 7.36314 34.7235 7.49844 35.0806 7.72631C33.3865 5.47251 31.1828 3.59434 28.6239 2.25558C25.8716 0.817137 22.7176 0 19.3609 0C12.376 0 6.25775 3.54093 2.85272 8.84965C1.04513 11.6678 0 14.9826 0 18.5325C0 22.0823 0.955865 25.1123 2.62398 27.8503C3.8402 29.8442 3.85321 32.3205 2.70022 34.35C2.27994 35.0906 1.82433 35.8098 1.33709 36.5059C1.17159 36.7409 1.34081 37.0614 1.6365 37.0614H1.64394C3.8402 37.0614 5.9788 36.821 8.03187 36.3653C10.1054 35.906 12.2626 35.8953 14.3175 36.4276C15.9243 36.8442 17.6147 37.0667 19.359 37.0667C30.0651 37.0667 38.6679 28.874 38.7181 18.625C38.7348 15.1713 37.7604 11.9384 36.0569 9.16475V9.16297Z"
          fill="#111827"
        />
        <path
          d="M50.5666 16.5386C48.7032 16.5386 47.0872 17.0175 45.871 17.9129V17.297C45.871 16.9516 45.579 16.6739 45.2201 16.6739H42.6445C42.2837 16.6739 41.9936 16.9534 41.9936 17.297V31.5034C41.9936 31.8488 42.2856 32.1265 42.6445 32.1265H45.3317C45.6925 32.1265 45.9826 31.847 45.9826 31.5034V24.1866C45.9826 21.5464 47.4219 20.0937 50.0348 20.0937C52.2905 20.0937 53.3877 21.2491 53.3877 23.624V31.5034C53.3877 31.8488 53.6797 32.1265 54.0386 32.1265H56.7258C57.0866 32.1265 57.3767 31.847 57.3767 31.5034V23.3285C57.3767 19.0772 54.8308 16.5404 50.5648 16.5404L50.5666 16.5386Z"
          fill="#111827"
        />
        <path
          d="M66.9763 16.6724H64.2872C63.9278 16.6724 63.6364 16.9513 63.6364 17.2955V31.5037C63.6364 31.8478 63.9278 32.1268 64.2872 32.1268H66.9763C67.3358 32.1268 67.6272 31.8478 67.6272 31.5037V17.2955C67.6272 16.9513 67.3358 16.6724 66.9763 16.6724Z"
          fill="#111827"
        />
        <path
          d="M65.6336 10.5874C64.2482 10.5874 63.1621 11.6039 63.1621 12.9C63.1621 14.196 64.2482 15.1858 65.6336 15.1858C67.019 15.1858 68.1051 14.18 68.1051 12.8465C68.1051 11.5131 67.019 10.5874 65.6336 10.5874Z"
          fill="#111827"
        />
        <path
          d="M88.6767 10.9897H85.9895C85.6287 10.9897 85.3386 11.2692 85.3386 11.6128V17.9363C84.1149 17.0266 82.5547 16.5388 80.8103 16.5388C76.0087 16.5388 72.6557 19.7717 72.6557 24.3986C72.6557 29.0255 76.0087 32.2869 80.8103 32.2869C82.6216 32.2869 84.2191 31.7742 85.4502 30.8164V31.5018C85.4502 31.8472 85.7421 32.1249 86.101 32.1249H88.6767C89.0374 32.1249 89.3275 31.8454 89.3275 31.5018V11.6146C89.3275 11.2692 89.0356 10.9915 88.6767 10.9915V10.9897ZM81.0335 28.787C78.4671 28.787 76.6744 26.9818 76.6744 24.3986C76.6744 21.8155 78.4262 20.037 81.0335 20.037C83.6407 20.037 85.3646 21.8297 85.3646 24.3986C85.3646 26.9675 83.5831 28.787 81.0335 28.787Z"
          fill="#111827"
        />
        <path
          d="M110.349 16.6721H107.662C107.301 16.6721 107.011 16.9516 107.011 17.2952V17.9361C105.787 17.0264 104.227 16.5386 102.483 16.5386C97.6811 16.5386 94.3263 19.7715 94.3263 24.3984C94.3263 29.0253 97.6793 32.2867 102.483 32.2867C104.294 32.2867 105.892 31.774 107.123 30.8162V31.5016C107.123 31.847 107.415 32.1247 107.773 32.1247H110.349C110.708 32.1247 111 31.8452 111 31.5016V17.297C111 16.9516 110.708 16.6739 110.349 16.6739V16.6721ZM102.706 28.7867C100.14 28.7867 98.3469 26.9816 98.3469 24.3984C98.3469 21.8153 100.099 20.0368 102.706 20.0368C105.313 20.0368 107.039 21.8295 107.039 24.3984C107.039 26.9673 105.257 28.7867 102.706 28.7867Z"
          fill="#111827"
        />
      </svg>
      <span class="text-2xl font-bold">VS</span>
      <h2 class="text-2xl font-bold">Undangan Konvesional</h2>
    </div>
    <table class="text-left text-sm">
      <thead class="bg-30 font-normal">
        <tr>
          <th scope="col" class="px-6 py-4"></th>
          <th scope="col" class="px-6 py-4 font-normal">
            Undangan Konvensional
          </th>
          <th scope="col" class="px-6 py-4">
            <svg
              width="80"
              height="20"
              viewBox="0 0 111 38"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M36.0569 9.16297C36.0904 9.35168 36.1016 9.54573 36.0811 9.7469C35.6311 14.0996 34.4297 18.0197 32.4752 21.5073C30.1692 25.6197 26.7902 29.1446 22.3419 32.082H19.2772C17.4213 32.082 15.8517 30.7646 15.6081 29.0039L12.9618 9.81811C12.7777 8.47936 13.7931 7.26344 15.199 7.14239L16.882 6.9964C17.5198 6.94122 18.0889 7.3845 18.1614 7.99335L20.5158 27.7435H20.9546C24.17 25.1942 26.6136 22.2283 28.2873 18.8476C29.9591 15.4669 30.8778 11.6375 31.0396 7.36314H33.8309C34.2958 7.36314 34.7235 7.49844 35.0806 7.72631C33.3865 5.47251 31.1828 3.59434 28.6239 2.25558C25.8716 0.817137 22.7176 0 19.3609 0C12.376 0 6.25775 3.54093 2.85272 8.84965C1.04513 11.6678 0 14.9826 0 18.5325C0 22.0823 0.955865 25.1123 2.62398 27.8503C3.8402 29.8442 3.85321 32.3205 2.70022 34.35C2.27994 35.0906 1.82433 35.8098 1.33709 36.5059C1.17159 36.7409 1.34081 37.0614 1.6365 37.0614H1.64394C3.8402 37.0614 5.9788 36.821 8.03187 36.3653C10.1054 35.906 12.2626 35.8953 14.3175 36.4276C15.9243 36.8442 17.6147 37.0667 19.359 37.0667C30.0651 37.0667 38.6679 28.874 38.7181 18.625C38.7348 15.1713 37.7604 11.9384 36.0569 9.16475V9.16297Z"
                fill="#111827"
              />
              <path
                d="M50.5666 16.5386C48.7032 16.5386 47.0872 17.0175 45.871 17.9129V17.297C45.871 16.9516 45.579 16.6739 45.2201 16.6739H42.6445C42.2837 16.6739 41.9936 16.9534 41.9936 17.297V31.5034C41.9936 31.8488 42.2856 32.1265 42.6445 32.1265H45.3317C45.6925 32.1265 45.9826 31.847 45.9826 31.5034V24.1866C45.9826 21.5464 47.4219 20.0937 50.0348 20.0937C52.2905 20.0937 53.3877 21.2491 53.3877 23.624V31.5034C53.3877 31.8488 53.6797 32.1265 54.0386 32.1265H56.7258C57.0866 32.1265 57.3767 31.847 57.3767 31.5034V23.3285C57.3767 19.0772 54.8308 16.5404 50.5648 16.5404L50.5666 16.5386Z"
                fill="#111827"
              />
              <path
                d="M66.9763 16.6724H64.2872C63.9278 16.6724 63.6364 16.9513 63.6364 17.2955V31.5037C63.6364 31.8478 63.9278 32.1268 64.2872 32.1268H66.9763C67.3358 32.1268 67.6272 31.8478 67.6272 31.5037V17.2955C67.6272 16.9513 67.3358 16.6724 66.9763 16.6724Z"
                fill="#111827"
              />
              <path
                d="M65.6336 10.5874C64.2482 10.5874 63.1621 11.6039 63.1621 12.9C63.1621 14.196 64.2482 15.1858 65.6336 15.1858C67.019 15.1858 68.1051 14.18 68.1051 12.8465C68.1051 11.5131 67.019 10.5874 65.6336 10.5874Z"
                fill="#111827"
              />
              <path
                d="M88.6767 10.9897H85.9895C85.6287 10.9897 85.3386 11.2692 85.3386 11.6128V17.9363C84.1149 17.0266 82.5547 16.5388 80.8103 16.5388C76.0087 16.5388 72.6557 19.7717 72.6557 24.3986C72.6557 29.0255 76.0087 32.2869 80.8103 32.2869C82.6216 32.2869 84.2191 31.7742 85.4502 30.8164V31.5018C85.4502 31.8472 85.7421 32.1249 86.101 32.1249H88.6767C89.0374 32.1249 89.3275 31.8454 89.3275 31.5018V11.6146C89.3275 11.2692 89.0356 10.9915 88.6767 10.9915V10.9897ZM81.0335 28.787C78.4671 28.787 76.6744 26.9818 76.6744 24.3986C76.6744 21.8155 78.4262 20.037 81.0335 20.037C83.6407 20.037 85.3646 21.8297 85.3646 24.3986C85.3646 26.9675 83.5831 28.787 81.0335 28.787Z"
                fill="#111827"
              />
              <path
                d="M110.349 16.6721H107.662C107.301 16.6721 107.011 16.9516 107.011 17.2952V17.9361C105.787 17.0264 104.227 16.5386 102.483 16.5386C97.6811 16.5386 94.3263 19.7715 94.3263 24.3984C94.3263 29.0253 97.6793 32.2867 102.483 32.2867C104.294 32.2867 105.892 31.774 107.123 30.8162V31.5016C107.123 31.847 107.415 32.1247 107.773 32.1247H110.349C110.708 32.1247 111 31.8452 111 31.5016V17.297C111 16.9516 110.708 16.6739 110.349 16.6739V16.6721ZM102.706 28.7867C100.14 28.7867 98.3469 26.9816 98.3469 24.3984C98.3469 21.8153 100.099 20.0368 102.706 20.0368C105.313 20.0368 107.039 21.8295 107.039 24.3984C107.039 26.9673 105.257 28.7867 102.706 28.7867Z"
                fill="#111827"
              />
            </svg>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="border-b bg-white">
          <td class="whitespace-nowrap px-6 py-4 font-medium">Harga</td>
          <td class="whitespace-nowrap px-6 py-4">
            Semakin besar acara semakin mahal
          </td>
          <td class="whitespace-nowrap px-6 py-4">
            Besar kecilnya acara tidak terlalu mempengaruhi harga
          </td>
        </tr>
        <tr class="border-b bg-gray-100">
          <td class="whitespace-nowrap px-6 py-4 font-medium">Ke-praktisan</td>
          <td class="whitespace-nowrap px-6 py-4">Kurang praktis</td>
          <td class="whitespace-nowrap px-6 py-4">
            Lebih praktis dilengkapi fitur kirim massal
          </td>
        </tr>
        <tr class="border-b bg-white">
          <td class="whitespace-nowrap px-6 py-4 font-medium">
            Fitur Kirim Massal
          </td>
          <td class="whitespace-nowrap px-6 py-4">❌</td>
          <td class="whitespace-nowrap px-6 py-4">✔</td>
        </tr>
        <tr class="border-b bg-gray-100">
          <td class="whitespace-nowrap px-6 py-4 font-medium">
            Daftar Hadir Melalui QR
          </td>
          <td class="whitespace-nowrap px-6 py-4">❌</td>
          <td class="whitespace-nowrap px-6 py-4">✔</td>
        </tr>
        <tr class="border-b bg-white">
          <td class="whitespace-nowrap px-6 py-4 font-medium">
            Kirim Foto Otomatis
          </td>
          <td class="whitespace-nowrap px-6 py-4">❌</td>
          <td class="whitespace-nowrap px-6 py-4">✔</td>
        </tr>
        <tr class="border-b bg-gray-100">
          <td class="whitespace-nowrap px-6 py-4 font-medium">
            Musik dan Media Interaktif
          </td>
          <td class="whitespace-nowrap px-6 py-4">❌</td>
          <td class="whitespace-nowrap px-6 py-4">✔</td>
        </tr>
        <tr class="border-b bg-white">
          <td class="whitespace-nowrap px-6 py-4 font-medium">Limbah Kertas</td>
          <td class="whitespace-nowrap px-6 py-4">✔</td>
          <td class="whitespace-nowrap px-6 py-4">❌</td>
        </tr>
      </tbody>
    </table>
  </section>

  <!-- FAQ -->
  <div
    class="flex h-fit w-full flex-col items-center justify-center bg-30 pt-10"
  >
    <h2 class="my-10 text-4xl font-extrabold">Frequently Asked Question</h2>
    <section>
      <details
        class="group my-3 w-[600px] rounded-lg bg-gray-100 p-3 transition-all open:bg-white"
      >
        <summary class="flex w-fit items-center gap-2 text-xl font-semibold">
          <svg
            class="group-open:hidden"
            width="25"
            height="25"
            viewBox="0 0 69 69"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M34.5 10.3501C35.415 10.3501 36.2925 10.7136 36.9395 11.3606C37.5865 12.0076 37.95 12.8851 37.95 13.8001V31.0501H55.2C56.115 31.0501 56.9925 31.4136 57.6395 32.0606C58.2865 32.7076 58.65 33.5851 58.65 34.5001C58.65 35.4151 58.2865 36.2926 57.6395 36.9396C56.9925 37.5866 56.115 37.9501 55.2 37.9501H37.95V55.2001C37.95 56.1151 37.5865 56.9926 36.9395 57.6396C36.2925 58.2866 35.415 58.6501 34.5 58.6501C33.585 58.6501 32.7075 58.2866 32.0605 57.6396C31.4135 56.9926 31.05 56.1151 31.05 55.2001V37.9501H13.8C12.885 37.9501 12.0075 37.5866 11.3605 36.9396C10.7135 36.2926 10.35 35.4151 10.35 34.5001C10.35 33.5851 10.7135 32.7076 11.3605 32.0606C12.0075 31.4136 12.885 31.0501 13.8 31.0501H31.05V13.8001C31.05 12.8851 31.4135 12.0076 32.0605 11.3606C32.7075 10.7136 33.585 10.3501 34.5 10.3501Z"
              fill="black"
            />
          </svg>
          <svg
            class="hidden group-open:block"
            width="20"
            height="3"
            viewBox="0 0 69"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect width="20" height="3" rx="4.5" fill="#111827" />
          </svg>
          Apakah Vnida membutuhkan data pribadi saya?
        </summary>
        <div class="py-3 pl-8 text-sm font-normal">
          <p>
            Dalam menjalankan aplikasi dan undangan digital kami tidak
            memerlukan data pribadi yang bersifat krusial pelanggan kami, tetapi
            tidak menutup kemungkinan data pribadi pelanggan diperlukan untuk
            proses pembayaran dan lain lain. Untuk info lebih lanjut silahkan
            kunjungi link
            <a href="/privacy-policy" class="underline hover:text-slate-600"
              >berikut.</a
            >
          </p>
        </div>
      </details>
      <details
        class="group my-3 w-[600px] rounded-lg bg-gray-100 p-3 transition-all open:bg-white"
      >
        <summary class="flex w-fit items-center gap-2 text-xl font-semibold">
          <svg
            class="group-open:hidden"
            width="25"
            height="25"
            viewBox="0 0 69 69"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M34.5 10.3501C35.415 10.3501 36.2925 10.7136 36.9395 11.3606C37.5865 12.0076 37.95 12.8851 37.95 13.8001V31.0501H55.2C56.115 31.0501 56.9925 31.4136 57.6395 32.0606C58.2865 32.7076 58.65 33.5851 58.65 34.5001C58.65 35.4151 58.2865 36.2926 57.6395 36.9396C56.9925 37.5866 56.115 37.9501 55.2 37.9501H37.95V55.2001C37.95 56.1151 37.5865 56.9926 36.9395 57.6396C36.2925 58.2866 35.415 58.6501 34.5 58.6501C33.585 58.6501 32.7075 58.2866 32.0605 57.6396C31.4135 56.9926 31.05 56.1151 31.05 55.2001V37.9501H13.8C12.885 37.9501 12.0075 37.5866 11.3605 36.9396C10.7135 36.2926 10.35 35.4151 10.35 34.5001C10.35 33.5851 10.7135 32.7076 11.3605 32.0606C12.0075 31.4136 12.885 31.0501 13.8 31.0501H31.05V13.8001C31.05 12.8851 31.4135 12.0076 32.0605 11.3606C32.7075 10.7136 33.585 10.3501 34.5 10.3501Z"
              fill="black"
            />
          </svg>
          <svg
            class="hidden group-open:block"
            width="20"
            height="3"
            viewBox="0 0 69"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect width="20" height="3" rx="4.5" fill="#111827" />
          </svg>
          Desain undangan hanya template atau bisa custom?
        </summary>
        <div class="py-3 pl-8 text-sm font-normal">
          <p>
            Kami menyediakan template siap pakai dengan berbagai macam skenario
            dan acara. Template yang sudah disediakan bisa dikustomisasi secara
            terbatas. Kami juga menerima custom desain bagi customer yang ingin
            undangannya lebih personal dan berkarakter. Tim desain kami siap
            melayani anda!
          </p>
        </div>
      </details>
      <details
        class="group my-3 w-[600px] rounded-lg bg-gray-100 p-3 transition-all open:bg-white"
      >
        <summary class="flex w-fit items-center gap-2 text-xl font-semibold">
          <svg
            class="group-open:hidden"
            width="25"
            height="25"
            viewBox="0 0 69 69"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M34.5 10.3501C35.415 10.3501 36.2925 10.7136 36.9395 11.3606C37.5865 12.0076 37.95 12.8851 37.95 13.8001V31.0501H55.2C56.115 31.0501 56.9925 31.4136 57.6395 32.0606C58.2865 32.7076 58.65 33.5851 58.65 34.5001C58.65 35.4151 58.2865 36.2926 57.6395 36.9396C56.9925 37.5866 56.115 37.9501 55.2 37.9501H37.95V55.2001C37.95 56.1151 37.5865 56.9926 36.9395 57.6396C36.2925 58.2866 35.415 58.6501 34.5 58.6501C33.585 58.6501 32.7075 58.2866 32.0605 57.6396C31.4135 56.9926 31.05 56.1151 31.05 55.2001V37.9501H13.8C12.885 37.9501 12.0075 37.5866 11.3605 36.9396C10.7135 36.2926 10.35 35.4151 10.35 34.5001C10.35 33.5851 10.7135 32.7076 11.3605 32.0606C12.0075 31.4136 12.885 31.0501 13.8 31.0501H31.05V13.8001C31.05 12.8851 31.4135 12.0076 32.0605 11.3606C32.7075 10.7136 33.585 10.3501 34.5 10.3501Z"
              fill="black"
            />
          </svg>
          <svg
            class="hidden group-open:block"
            width="20"
            height="3"
            viewBox="0 0 69"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect width="20" height="3" rx="4.5" fill="#111827" />
          </svg>
          Bisakah saya tambahkan video atau musik ke undangan saya?
        </summary>
        <div class="py-3 pl-8 text-sm font-normal">
          <p>
            Tentu saja bisa! Salah satu keunggulan dari undangan digital
            dibandingkan dengan undangan kertas adalah kemungkinan menambahkan
            media interkatif yang banyak, dengan video maupun musik undangan ada
            jadi lebih menarik dan interaktif!
          </p>
        </div>
      </details>
      <details
        class="group my-3 w-[600px] rounded-lg bg-gray-100 p-3 transition-all open:bg-white"
      >
        <summary class="flex w-fit items-center gap-2 text-xl font-semibold">
          <svg
            class="group-open:hidden"
            width="25"
            height="25"
            viewBox="0 0 69 69"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M34.5 10.3501C35.415 10.3501 36.2925 10.7136 36.9395 11.3606C37.5865 12.0076 37.95 12.8851 37.95 13.8001V31.0501H55.2C56.115 31.0501 56.9925 31.4136 57.6395 32.0606C58.2865 32.7076 58.65 33.5851 58.65 34.5001C58.65 35.4151 58.2865 36.2926 57.6395 36.9396C56.9925 37.5866 56.115 37.9501 55.2 37.9501H37.95V55.2001C37.95 56.1151 37.5865 56.9926 36.9395 57.6396C36.2925 58.2866 35.415 58.6501 34.5 58.6501C33.585 58.6501 32.7075 58.2866 32.0605 57.6396C31.4135 56.9926 31.05 56.1151 31.05 55.2001V37.9501H13.8C12.885 37.9501 12.0075 37.5866 11.3605 36.9396C10.7135 36.2926 10.35 35.4151 10.35 34.5001C10.35 33.5851 10.7135 32.7076 11.3605 32.0606C12.0075 31.4136 12.885 31.0501 13.8 31.0501H31.05V13.8001C31.05 12.8851 31.4135 12.0076 32.0605 11.3606C32.7075 10.7136 33.585 10.3501 34.5 10.3501Z"
              fill="black"
            />
          </svg>
          <svg
            class="hidden group-open:block"
            width="20"
            height="3"
            viewBox="0 0 69"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect width="20" height="3" rx="4.5" fill="#111827" />
          </svg>
          Fitur yang ditawarkan apakah sudah termasuk harga awal atau tidak?
        </summary>
        <div class="py-3 pl-8 text-sm font-normal">
          <p>
            Beberapa fitur sudah termasuk harga awal, tetapai ada juga fitur
            tambahasan opsional yang membutuhkan perhitungan biasa tambahan
            untuk info lebih jelasnya silahkan kunjungi link
            <a href="/pricing" class="underline hover:text-slate-600"
              >berikut.</a
            >
          </p>
        </div>
      </details>
      <details
        class="group my-3 w-[600px] rounded-lg bg-gray-100 p-3 transition-all open:bg-white"
      >
        <summary class="flex w-fit items-center gap-2 text-xl font-semibold">
          <svg
            class="group-open:hidden"
            width="25"
            height="25"
            viewBox="0 0 69 69"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M34.5 10.3501C35.415 10.3501 36.2925 10.7136 36.9395 11.3606C37.5865 12.0076 37.95 12.8851 37.95 13.8001V31.0501H55.2C56.115 31.0501 56.9925 31.4136 57.6395 32.0606C58.2865 32.7076 58.65 33.5851 58.65 34.5001C58.65 35.4151 58.2865 36.2926 57.6395 36.9396C56.9925 37.5866 56.115 37.9501 55.2 37.9501H37.95V55.2001C37.95 56.1151 37.5865 56.9926 36.9395 57.6396C36.2925 58.2866 35.415 58.6501 34.5 58.6501C33.585 58.6501 32.7075 58.2866 32.0605 57.6396C31.4135 56.9926 31.05 56.1151 31.05 55.2001V37.9501H13.8C12.885 37.9501 12.0075 37.5866 11.3605 36.9396C10.7135 36.2926 10.35 35.4151 10.35 34.5001C10.35 33.5851 10.7135 32.7076 11.3605 32.0606C12.0075 31.4136 12.885 31.0501 13.8 31.0501H31.05V13.8001C31.05 12.8851 31.4135 12.0076 32.0605 11.3606C32.7075 10.7136 33.585 10.3501 34.5 10.3501Z"
              fill="black"
            />
          </svg>
          <svg
            class="hidden group-open:block"
            width="20"
            height="3"
            viewBox="0 0 69"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect width="20" height="3" rx="4.5" fill="#111827" />
          </svg>
          Bagaimana perhitungan harga undangan saya deitentukan?
        </summary>
        <div class="py-3 pl-8 text-sm font-normal">
          <p>
            harga total undangan digital anda ditentukan berdasarkan dua
            parameter utama yaitu: fitur tambahan yang dipilih dan juga jumlah
            undangan/link yang akan dibagikan, untuk info lebh lanjut kunjunig
            link
            <a
              href="/pricing/how-we-charge"
              class="underline hover:text-slate-600"
              >berikut.</a
            >
          </p>
        </div>
      </details>
    </section>
    <h1 class="mb-10 mt-14 text-4xl font-extrabold">
      Tunggu Apa Lagi Pesan Sekarang
    </h1>
    <a
      class="flex w-fit flex-row items-center justify-between rounded-lg bg-10 p-2 font-semibold text-gray-900 transition-all hover:brightness-90"
      href="#"
    >
      <svg
        width="20"
        height="20"
        viewBox="0 0 30 30"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g clip-path="url(#clip0_1235_1046)">
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M4.37117 4.3563C7.19092 1.5484 10.9412 0.00140884 14.937 0C23.1708 0 29.8718 6.66331 29.8747 14.8537C29.8761 17.472 29.1878 20.0276 27.8807 22.2799L30 29.9781L22.0813 27.9125C19.8997 29.0964 17.4431 29.7196 14.9434 29.7203H14.937C6.70467 29.7203 0.00283241 23.0562 0 14.8658C-0.00141716 10.8964 1.55067 7.16478 4.37117 4.35696V4.3563ZM14.937 27.2117H14.942C17.1695 27.211 19.3547 26.6155 21.2612 25.4908L21.7146 25.223L26.4138 26.4488L25.1597 21.8924L25.4548 21.4251C26.6975 19.4593 27.3542 17.1871 27.3528 14.8545C27.3499 8.04729 21.7806 2.50865 14.9319 2.50865C11.6158 2.51006 8.49875 3.79566 6.15458 6.12978C3.81033 8.46323 2.52041 11.5659 2.52183 14.8644C2.52475 21.6723 8.09408 27.211 14.937 27.211V27.2117ZM8.12708 17.9649C8.50025 17.7791 10.3352 16.8815 10.6776 16.7577C11.0199 16.6337 11.2684 16.5718 11.517 16.9435C11.7655 17.3154 12.481 18.1516 12.6987 18.3987C12.9165 18.6466 13.1343 18.6772 13.5074 18.4913C13.8805 18.3054 15.0831 17.9136 16.5091 16.6493C17.6185 15.665 18.3677 14.4499 18.5854 14.078C18.8032 13.7063 18.6083 13.5054 18.4222 13.3209C18.2546 13.1543 18.049 12.8872 17.8621 12.6706C17.6751 12.4541 17.6135 12.2988 17.4889 12.0516C17.3643 11.8038 17.4266 11.5873 17.5197 11.4013C17.6128 11.2154 18.3591 9.38842 18.6707 8.64555C18.9737 7.92191 19.2816 8.02019 19.5101 8.00809C19.7278 7.99732 19.9763 7.99525 20.2256 7.99525C20.4748 7.99525 20.8788 8.0879 21.2212 8.45967C21.5635 8.83144 22.5276 9.72961 22.5276 11.5559C22.5276 13.3822 21.1903 15.1479 21.0034 15.3958C20.8165 15.6437 18.3713 19.3923 14.6276 21.0007C13.7372 21.3831 13.0418 21.6118 12.4997 21.7827C11.6057 22.0655 10.7922 22.0256 10.149 21.9302C9.432 21.8233 7.94083 21.032 7.63 20.1651C7.31917 19.2983 7.31917 18.5547 7.41225 18.4001C7.50533 18.2456 7.75458 18.1522 8.12775 17.9664L8.12708 17.9649Z"
            fill="#111827"
          />
        </g>
        <defs>
          <clipPath id="clip0_1235_1046">
            <rect
              width="30"
              height="30"
              fill="white"
              transform="matrix(-1 0 0 1 30 0)"
            />
          </clipPath>
        </defs>
      </svg>
      <p class="px-2">Pesan Sekarang</p>
    </a>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="w-full"
      viewBox="0 0 1920 171.001"
    >
      <path
        id="curves"
        d="M1920,293H0V122H.073c.395,4.068,2.43,8.169,6.052,12.19,3.57,3.963,8.766,7.944,15.446,11.832,13.145,7.652,32.385,15.174,57.187,22.356,24.365,7.056,54.344,13.858,89.1,20.216,34.444,6.3,73.89,12.223,117.243,17.6s91.005,10.264,141.609,14.515c51.092,4.292,105.665,7.978,162.2,10.955,57.586,3.032,117.817,5.36,179.021,6.92C830.727,240.189,895.348,241,960,241s129.273-.811,192.065-2.412c61.2-1.56,121.435-3.888,179.021-6.92,56.538-2.977,111.111-6.663,162.2-10.955,50.6-4.251,98.248-9.135,141.609-14.515s82.8-11.3,117.243-17.6c34.759-6.358,64.737-13.16,89.1-20.216,24.8-7.183,44.042-14.7,57.187-22.356,6.679-3.889,11.876-7.87,15.446-11.832,3.621-4.02,5.657-8.122,6.052-12.19H1920V293Z"
        transform="translate(0 -122)"
        fill="#f3f4f6"
      />
    </svg>
  </div>

  <footer
    class="flex h-fit w-full items-center justify-between bg-gray-100 px-28 py-10"
  >
    <section class="flex items-start justify-between gap-10">
      <ul>
        <h3 class="text-lg font-semibold">Company</h3>
        <li class="list-none text-base font-normal">Pricing</li>
        <li class="list-none text-base font-normal">Blog</li>
        <li class="list-none text-base font-normal">Documentation</li>
        <li class="list-none text-base font-normal">Terms of Services</li>
        <li class="list-none text-base font-normal">Privacy Policy</li>
      </ul>
      <ul>
        <h3 class="text-lg font-semibold">Contact & Social Media</h3>
        <li class="list-none text-base font-normal">Instagram</li>
        <li class="list-none text-base font-normal">Whatsapp</li>
        <li class="list-none text-base font-normal">Twitter</li>
        <li class="list-none text-base font-normal">Email</li>
      </ul>
    </section>
    <section>
      <svg
        width="200"
        height="100"
        viewBox="0 0 361 121"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M117.266 29.8003C117.375 30.414 117.411 31.0451 117.345 31.6994C115.881 45.8555 111.974 58.6048 105.618 69.9471C98.118 83.3216 87.1286 94.7855 72.6616 104.339H62.6944C56.6584 104.339 51.5538 100.054 50.7615 94.3281L42.1551 31.931C41.5564 27.577 44.8586 23.6226 49.431 23.2288L54.9045 22.7541C56.979 22.5746 58.8297 24.0163 59.0656 25.9964L66.7224 90.2289H68.1498C78.6069 81.9378 86.5541 72.292 91.9974 61.297C97.4346 50.3021 100.422 37.8482 100.949 23.9468H110.027C111.539 23.9468 112.93 24.3868 114.091 25.1279C108.581 17.798 101.414 11.6897 93.092 7.33573C84.1409 2.65754 73.8833 0 62.9666 0C40.25 0 20.3518 11.516 9.27776 28.7813C3.39902 37.9466 0 48.7273 0 60.2722C0 71.8172 3.10871 81.6715 8.53384 90.5763C12.4893 97.0609 12.5316 105.115 8.78181 111.715C7.41495 114.124 5.93317 116.463 4.34857 118.726C3.81029 119.491 4.36067 120.533 5.32231 120.533H5.3465C12.4893 120.533 19.4446 119.751 26.1217 118.269C32.8653 116.775 39.881 116.741 46.5642 118.472C51.7897 119.827 57.2874 120.55 62.9605 120.55C97.7793 120.55 125.758 93.9054 125.921 60.5733C125.975 49.341 122.806 38.8267 117.266 29.8061V29.8003Z"
          fill="#111827"
        />
        <path
          d="M164.456 53.7881C158.395 53.7881 153.14 55.3456 149.184 58.2578V56.2546C149.184 55.1313 148.235 54.2281 147.067 54.2281H138.691C137.517 54.2281 136.574 55.1371 136.574 56.2546V102.457C136.574 103.581 137.523 104.484 138.691 104.484H147.43C148.604 104.484 149.547 103.575 149.547 102.457V78.6612C149.547 70.0749 154.228 65.3504 162.726 65.3504C170.062 65.3504 173.631 69.108 173.631 76.8316V102.457C173.631 103.581 174.58 104.484 175.747 104.484H184.487C185.66 104.484 186.604 103.575 186.604 102.457V75.8705C186.604 62.0444 178.324 53.7939 164.45 53.7939L164.456 53.7881Z"
          fill="#111827"
        />
        <path
          d="M217.824 54.2231H209.078C207.909 54.2231 206.961 55.1304 206.961 56.2496V102.458C206.961 103.577 207.909 104.485 209.078 104.485H217.824C218.993 104.485 219.941 103.577 219.941 102.458V56.2496C219.941 55.1304 218.993 54.2231 217.824 54.2231Z"
          fill="#111827"
        />
        <path
          d="M213.457 34.4331C208.951 34.4331 205.419 37.7391 205.419 41.9541C205.419 46.1691 208.951 49.3883 213.457 49.3883C217.963 49.3883 221.495 46.117 221.495 41.7804C221.495 37.4438 217.963 34.4331 213.457 34.4331Z"
          fill="#111827"
        />
        <path
          d="M288.399 35.7417H279.66C278.486 35.7417 277.543 36.6507 277.543 37.7681V58.3337C273.563 55.375 268.489 53.7886 262.816 53.7886C247.2 53.7886 236.295 64.303 236.295 79.3508C236.295 94.3986 247.2 105.006 262.816 105.006C268.707 105.006 273.902 103.338 277.906 100.223V102.452C277.906 103.575 278.855 104.479 280.022 104.479H288.399C289.572 104.479 290.516 103.57 290.516 102.452V37.7739C290.516 36.6507 289.566 35.7475 288.399 35.7475V35.7417ZM263.541 93.6227C255.195 93.6227 249.365 87.7518 249.365 79.3508C249.365 70.9497 255.062 65.1657 263.541 65.1657C272.021 65.1657 277.627 70.996 277.627 79.3508C277.627 87.7055 271.833 93.6227 263.541 93.6227Z"
          fill="#111827"
        />
        <path
          d="M358.883 54.2223H350.144C348.97 54.2223 348.027 55.1313 348.027 56.2488V58.3331C344.047 55.3745 338.973 53.7881 333.3 53.7881C317.684 53.7881 306.773 64.3024 306.773 79.3502C306.773 94.398 317.678 105.005 333.3 105.005C339.191 105.005 344.386 103.338 348.39 100.223V102.452C348.39 103.575 349.339 104.478 350.507 104.478H358.883C360.05 104.478 361 103.569 361 102.452V56.2546C361 55.1313 360.05 54.2281 358.883 54.2281V54.2223ZM334.026 93.6222C325.679 93.6222 319.849 87.7513 319.849 79.3502C319.849 70.9492 325.546 65.1651 334.026 65.1651C342.505 65.1651 348.118 70.9955 348.118 79.3502C348.118 87.705 342.324 93.6222 334.026 93.6222Z"
          fill="#111827"
        />
      </svg>
      <p>2022-2023</p>
    </section>
  </footer>
</div>
