<div class="h-full flex flex-col justify-center items-center">
    <div id="reader" class="w-full"></div>
    <div id="result" class="flex flex-col items-center justify-center pt-4">
        <h1 id="keterangan" class="font-playfair">Keterangan : </h1>
        <span id="status"></span>
    </div>
</div>
<div class="absolute bottom-0 right-1/2 flex translate-x-1/2 flex-col items-center justify-center">
    <h1>powered by</h1>
    <a class="" href="https://github.com/mebjas/html5-qrcode">Code Scanner</a>
</div>
<script src="/js/html5-qrcode.min.js"></script>
<script type="text/javascript" src="/js/scriptScanner.js"></script>